@media (min-width: 1200px) {
    .responsive-font {
        font-size: 50px;
    }
    .pin {
        width: 150px;
        height: 150px;
    }
    .pin_m {
        width: 100px;
        height: 100px;
    }
    .pin_s {
        width: 60px;
        height: 60px;
    }
    .pin_xs {
        width: 50px;
        height: 50px;
    }
    .pin_container {
        height: 200px;
    }
    html, body {
        margin: 0;
        height: 1500px;
    }
}

@media (max-width: 1200px) {
    .responsive-font {
        font-size: 30px;
    }
    .pin {
        width: 70px;
        height: 70px;
    }
    .pin_m {
        width: 50px;
        height: 50px;
    }
    .pin_s {
        width: 25px;
        height: 25px;
    }
    .pin_xs {
        width: 17px;
        height: 17px;
    }
    .pin_container {
        height: 80px;
        width: 80px;
    }
    html, body {
        margin: 0;
        height: 1000px;
    }
}