html, body {
    margin: 0;
    height: 100%;
}

@media (min-width: 1200px) {
    .responsive-font {
        font-size: 50px;
    }
}

@media (max-width: 1200px) {
    .responsive-font {
        font-size: 30px;
    }
}