{% extends 'base.html' %}
{% block title %}A.I. Training{% endblock %}
{% block content %}
<nav class="navbar navbar-light bg-primary bg-opacity-75 pt-lg-3">
    <div class="container-fluid">
        <a class="navbar-brand"><img src="../static/image/Mastermind_Logo.png" height="50" class="d-inline-block align-text-top"></a>
        <a class="nav-link" href="{{url_for('index')}}"><p class="text-light my-auto">Back to Menu</p></a>
    </div>
</nav>
<nav class="sticky-top">
    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-current-tab" data-bs-toggle="tab" data-bs-target="#nav-current" role="tab" type="button">Current Generation</button>
        <button class="nav-link" id="nav-global-tab" data-bs-toggle="tab" data-bs-target="#nav-global" role="tab" type="button">Global Overview</button>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-current" role="tabpanel" tabindex="0">
        Current
    </div>
    <div class="tab-pane fade" id="nav-global" role="tabpanel" tabindex="0">
        Global
    </div>
</div>
{% endblock %}