{% extends 'base.html' %}
{% block title %}Game{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-primary bg-opacity-75 pt-lg-3">
    <div class="container-fluid">
        <a class="navbar-brand"><img src="../static/image/Mastermind_Logo.png" height="50" class="d-inline-block align-text-top"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mx-4" id="nav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item mx-lg-4">
                    <button class="nav-link" onclick="answer()"><p class="responsive-font text-secondary">Get Answer</p></a>                   
                </li>
                <li class="nav-item mx-lg-4">
                    <a class="nav-link" href="{{ url_for('ai') }}" role="button"><p class="responsive-font text-secondary">A.I Solver</p></a>                   
                </li>
            </ul>
            <a class="nav-link" href="{{url_for('index')}}"><p class="responsive-font text-light ">Back to Menu</p></a>
        </div>
    </div>
</nav>
<div class="container-fluid w-100 py-3 px-0">
    <div class="d-flex container-fluid justify-content-center py-0 px-1">
        <form method="post" class="w-100" id="game">
            <div class="container-fluid bg-primary bg-opacity-25 rounded-3 m-0">
                <div class="row w-100 mx-auto pt-lg-3">
                {% for i in range(1,5) %}
                    <div class="col-3 d-flex align-items-center justify-content-center p-1 h-100">
                        <select id="pin{{i}}" class="form-select rounded-circle border-2 border-light pin" style="background-color: {{red}}; color: transparent;">
                            <option value="{{red}}" selected>Red</option>
                            <option value="{{blue}}">Blue</option>
                            <option value="{{green}}">Green</option>
                            <option value="{{yellow}}">Yellow</option>
                            <option value="{{orange}}">Orange</option>
                            <option value="{{pink}}">Pink</option>
                            <option value="{{violet}}">Violet</option>
                            <option value="{{grey}}">Grey</option>
                        </select>
                    </div>
                {% endfor %}
                </div>
                <div class="row justify-content-center pb-2 pt-1">
                    <a id="sender" class="btn btn-light w-auto text-secondary" onclick="sub()">Send this combination</a>
                </div>
                <div class="row justify-content-center pb-2 pt-1 w-100 mx-0">
                    <span class="text-center" id="message">
                        <p class="h4 text-primary" style="display: inline;">Tries left :</p>
                        <p id="tries" class="text-light h3" style="display: inline;">12</p>
                        <p class="text-primary h4" style="display: inline;"> / 12</p>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <div class="container-fluid w-100 px-1 py-1 justify-content-center d-flex px-lg-5">
        <div class="container-fluid w-100 bg-primary bg-opacity-25 rounded-3 px-0 py-1 mx-sm-0 mx-lg-5">
        {% for i in range(12) %}
            <div class="row w-100 mx-0 my-1" id="row{{ 12-i }}" style="display: none;">
                <div class="col px-0 align-items-center d-flex justify-content-center">
                    <div class="container-fluid d-flex px-0">
                    {% for j in range(4) %}
                        <div class="col-3 d-flex mx-0 justify-content-center py-2">
                            <span class="pin_xs" style="border-radius: 50%; background-color: transparent;" id="row{{12-i}}red{{4-j}}"></span>
                        </div>
                    {% endfor %}
                    </div>
                </div>
                <div class="col-6 px-0 align-items-center align-items-center d-flex bg-light bg-opacity-50 rounded-2">
                    <div class="container-fluid d-flex px-0">
                    {% for j in range(1,5) %}
                        <div class="col-3 d-flex mx-0 justify-content-center">
                            <span class="pin_s" style="border-radius: 50%;" id="row{{12-i}}pin{{j}}"></span>
                        </div>
                    {% endfor %}
                    </div>
                </div>
                <div class="col px-0 align-items-center d-flex justify-content-center">
                    <div class="container-fluid d-flex px-0">
                    {% for j in range(4) %}
                        <div class="col-3 d-flex mx-0 justify-content-center">
                            <span class="pin_xs" style="border-radius: 50%; background-color: transparent;" id="row{{12-i}}white{{j+1}}"></span>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
{% block script %}<script src="../static/js/game.js"></script>{% endblock %}