{% extends 'base.html' %}
{% block title%}A.I. Solver{% endblock %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-primary bg-opacity-75 pt-lg-3">
    <div class="container-fluid">
        <a class="navbar-brand"><img src="../static/image/Mastermind_Logo.png" height="50" class="d-inline-block align-text-top"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mx-4" id="nav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item mx-lg-4">
                    <button class="nav-link" onclick=""><p class="responsive-font text-secondary">New Code</p></a>                   
                </li>
                <li class="nav-item mx-lg-4">
                    <a class="nav-link" href="{{ url_for('game') }}" role="button"><p class="responsive-font text-secondary">Play Game</p></a>                   
                </li>
            </ul>
            <a class="nav-link" href="{{url_for('index')}}"><p class="responsive-font text-light ">Back to Menu</p></a>
        </div>
    </div>
</nav>
{% for i in range(1,5) %}
<div class="modal fade" id="modal{{i}}" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Pin n°{{i}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body d-flex flex-wrap justify-content-center">
                {% for j in [red, blue, green, yellow, orange, pink, violet, grey] %}
                <div class="d-flex justify-content-center mx-2 my-2">
                    <input data-pin="{{i}}" data-color="{{j}}" onclick="updateColor(this)" class="rounded-circle pin_m" type="button" style="background-color: {{j}}; color: transparent;" data-bs-dismiss="modal">
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endfor %}
<div class="container-fluid w-100 py-3 px-0">
    <div class="d-flex container-fluid justify-content-center py-0 px-1">
        <form method="post" class="w-100" id="solver">
            <div class="container-fluid bg-primary bg-opacity-25 rounded-3 m-0">
                <div class="row w-100 mx-auto pt-lg-3">
                {% for i in range(1,5) %}
                    <div class="col-3 d-flex align-items-center justify-content-center p-1 h-100">
                        <button data-pin="{{red}}" type="button" id="inputPin{{i}}" class="rounded-circle border-2 border-light pin" style="background-color: {{red}};" data-bs-toggle="modal" data-bs-target="#modal{{i}}">
                        </button>
                    </div>
                {% endfor %}
                </div>
                <div class="row justify-content-center pb-2 pt-1">
                    <a id="sender" class="btn btn-light w-auto text-secondary" onclick="code()">Lock this code</a>
                </div>
                <div class="row justify-content-center pb-2 pt-1 w-100 mx-0">
                    <span class="text-center" id="message" style="display: none;">
                        <p class="h4 text-primary" style="display: inline;">The Bot solved the code in :</p>
                        <p id="tries" class="text-light h3" style="display: inline;"></p>
                        <p class="text-primary h4" style="display: inline;"> moves</p>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <div class="container-fluid w-100 px-1 py-1 justify-content-center d-flex px-lg-5">
        <div class="container-fluid w-100 bg-primary bg-opacity-25 rounded-3 px-0 py-1 mx-sm-0 mx-lg-5">
        {% for i in range(15) %}
            <div class="row w-100 mx-0 my-1" id="row{{ 15-i }}" style="display: none;">
                <div class="col px-0 align-items-center d-flex justify-content-center">
                    <div class="container-fluid d-flex px-0">
                    {% for j in range(4) %}
                        <div class="col-3 d-flex mx-0 justify-content-center py-2">
                            <span class="pin_xs" style="border-radius: 50%; background-color: transparent;" id="row{{15-i}}red{{4-j}}"></span>
                        </div>
                    {% endfor %}
                    </div>
                </div>
                <div class="col-6 px-0 align-items-center align-items-center d-flex bg-light bg-opacity-50 rounded-2">
                    <div class="container-fluid d-flex px-0">
                    {% for j in range(1,5) %}
                        <div class="col-3 d-flex mx-0 justify-content-center">
                            <span class="pin_s" style="border-radius: 50%;" id="row{{15-i}}pin{{j}}"></span>
                        </div>
                    {% endfor %}
                    </div>
                </div>
                <div class="col px-0 align-items-center d-flex justify-content-center">
                    <div class="container-fluid d-flex px-0">
                    {% for j in range(4) %}
                        <div class="col-3 d-flex mx-0 justify-content-center">
                            <span class="pin_xs" style="border-radius: 50%; background-color: transparent;" id="row{{15-i}}white{{j+1}}"></span>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
{% block script %}<script src="../static/js/solver.js"></script>{% endblock %}